#header {
    background-color:#111927;
    width: 100%;
    height: 15vh;

    min-height: 120px;
}

#header-text {
    color: #9FEF00;
    position:relative;
    left: 6%;
    top: -15%;

    padding-left: 20px;
    max-width: 150px;

    font-size:x-large;
    font-family: 'Orbitron', sans-serif;

    text-decoration: none;
    
}

#about {

    color: #9FEF00;
    position:relative;
    left: 55%;
    top: -15%;

    font-size:x-large;
    font-family: 'Orbitron', sans-serif;


    text-decoration: none;


}

#header-img{
    position: relative;
    left: 5%;
    top: 10%;

    width: 6%;

    min-width: 90px;
    min-height: 90px;
    
}

#a{

    color: #A4B2CA;

}