header.Header {
    background: linear-gradient(135deg, #181818 0%, #282828 100%);
    padding: 0px 20px;
    overflow: hidden;
    white-space: nowrap;
    height: 100px;

    box-shadow:
        2px 0 10px 0 rgba(0, 0, 0, 1),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);

}

#page-home {
    height: 100vh;
    width: 1294px;
    background-color: #F0F0F5;
}

#main-text {
    width: 200px;

    position: relative;
    top: -15px;
    left: 50px;

    color: #009c86;

    font-family: Bungee Inline;
    font-size: 45px;
}

#slogan-text {
    color: #009c86;
    font-size: 10px;
    font-family: Bungee Inline;
    position: relative;
    top: -40px;
    left: 50px;
}

#generate-password-link {
    color: #009c86;
    position: relative;
    top: -94px;
    left: 700px;
    font-family: Bungee Inline; 

    text-decoration: none;
}

#passwords-link {
    color: #009c86;
    position: relative;
    top: -94px;
    left: 750px;
    font-family: Bungee Inline; 

    text-decoration: none;
}

#about1 {
    font-family: Bungee Inline;
    position: absolute;
    top: 230px;
    left: 350px;
    font-size: 20px;
}

#about2 {
    font-family: Bungee Inline;
    position: absolute;
    top: 260px;
    left: 350px;
    font-size: 20px;
}

#about4 {
    font-family: Bungee Inline;
    position: absolute;
    top: 290px;
    left: 350px;
    font-size: 20px;
}

#about3 {
    font-family: Bungee Inline;
    position: absolute;
    top: 450px;
    left: 290px;
    font-size: 20px;
}

#IMG1 {
    position: relative;
    left: 80px;
    top: 60px;
}

#IMG2 {
    position: relative;
    left: 750px;
    top: 300px;
}