#about-site  {

    position: relative;
    top: 5%;
    left: 12%;

    padding-top: 1px;

    max-width: 80%;

    color: #9FEF00;

    font-size:x-large;
    font-family: 'Orbitron', sans-serif;

}

#firstP {
    text-indent: 100px;
}
