#header {
    display: flex;
    flex-direction: row;

    background-color:#111927;
    width: 100%;
    height: 12vh;

    min-height: 120px;
}


#header-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
}

#header-logo {
    width: 90%;
    height: 85%;
}

#about {

    color: #9FEF00;
    position:relative;
    left: 45%;
    top: -15%;

    font-size:x-large;
    font-family: 'Orbitron', sans-serif;


    text-decoration: none;


}


@media (max-width:850px){ .header-links{ visibility: hidden; } }